@import url('https://fonts.googleapis.com/css?family=Sniglet');

#wrapper{
   max-width: 1040px;
   margin: 0 auto;
   padding: 7px; 
}

 h1 {
	font-size: 300%;
	padding: 8px;
 }
 
  h2 {
	font-size: 300%;
	padding: 8px;
 }
 
  .answer{
	font-size: 200%;
	padding: 8px;
	display: inblock;
 }
 
   p{
	font-size: 100%;
	padding: 8px;
	display: inblock;
 }
 
 
 body , .black{
	 background-color: black;
 }
 
 a {
	text-decoration: none;
    display: block; 
	color: #FAFAFA;
 }
 
 form {
	padding: 3px; 
 }
 
 .math{
	background-color: #0000FF;
	color: #FAFAFA;
	height: 200px;
	width: 51%;
	font-family: 'Sniglet', cursive;
	float: right;
	display: inline-block ;
	text-align: left;
}  

.math:hover {
  background-color: #0000A0;
} 

 .askingmath{
	background-color: #0000FF;
	color: #FAFAFA;
	height: 200px;
	width: 51%;
	font-family: 'Sniglet', cursive;
	float: right;
	display: inline-block ;
	text-align: left;
}  

.askingmath:hover {
  background-color: #0000A0;
} 

.english{
	background-color: #32CD32;
	color: #FAFAFA;
	height: 380px;
	width: 51%;
	font-family: 'Sniglet', cursive;
	float: right;
	display: inline-block ;
	text-align: left;
}   

 .englishpage{
	background-color: #32CD32;
	color: #FAFAFA;
	height: 200px;
	width: 51%;
	font-family: 'Sniglet', cursive;
	float: right;
	display: inline-block ;
	text-align: left;
}  


.english:hover {
  background-color: #228B22;
} 

.health{
	background-color: #ADD8E6;
	color: #FAFAFA;
	height: 380px;
	width: 49%;
	font-family: 'Sniglet', cursive;
	display: inline-block ;
	float: left;
	text-align: right;
}

.health:hover {
  background-color: #00FFFF;
}
  
.stop{
	background-color: #FFA500;
	color: #FAFAFA;
	height: 100px;
	width: 51%;
	font-family: 'Sniglet', cursive;
	display: inline-block ;
	text-align: left;
	float: left;
} 

.stop:hover {
  background-color: #FF8C00;
}

.stopasking{
	background-color: #FFA500;
	color: #FAFAFA;
	height: 100px;
	width: 51%;
	font-family: 'Sniglet', cursive;
	display: inline-block ;
	text-align: left;
	float: left;
} 

.stopasking:hover {
  background-color: #FF8C00;
}


.study {
	background-color: #EE3710;
	color: #FAFAFA;
	height: 300px;
	width: 49%;
	font-family: 'Sniglet', cursive;
	text-align: right;
	display: inline-block ;
	float: left;
}  

.study:hover {
  background-color: #B22222;
}

.health2,.askingmathquestions{
	background-color: #ADD8E6;
	color: #FAFAFA;
	height: 340px;
	width: 100%;
	font-family: 'Sniglet', cursive;
	display: inline-block ;
	text-align: left;
}

.healthasking{
	background-color: #32CD32;
	color: #FAFAFA;
	height: 540px;
	width: 51%;
	font-family: 'Sniglet', cursive;
	float: right;
	display: inline-block ;
	text-align: left;
}   

button{
	border: none;
}

.button{
	background-color: black;
	color: #FAFAFA;
	height: 30px;
	width: 100%;
	font-size: 100%;
	font-family: 'Sniglet', cursive;
	display: inline-block ;
	padding: 0px;
	
}

.question{
	height: 100px;
	width: 100px;
}